:root {
  /* Colors */
  --white: #fff;
  --lightGrey: #f2f2f2;
  --black: #262626;
  --red: #8a010d;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 0.02rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overlay {
  transition: 0.25s ease;
}

.overlay:hover {
  opacity: 0.6;
  transform: scale(1.01);
}
